@import '../../variables';

.sidebar {
  box-sizing: border-box;
  border-right: 2px solid var(--border-lines-color);
  min-width: 280px;
  max-width: 320px;
  width: 260px;
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: 2px;
  padding: 0 10px;
  display: none;
  &Active {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 767px) {
    // display: none;
  }
  @media (max-width: 576px) {
    flex: 1 1 1;
  }
}

.sidebarBtn {
  position: fixed;
  left: 8px;
  top: 4px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--color-selected-background);
  opacity: .6;
  border: none;
  cursor: pointer;
  transition: 100ms linear; 
  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
  img {
    position: relative;
    top: 2px;
    left: 1px;
    overflow: hidden;
  }
  svg {
    fill: var(--main-text-color);
    position: relative;
    top: 2px;
    left: 2px;
  }
}

