.toolbar {
  box-sizing: border-box;
  border-left: 2px solid var(--border-lines-color);
  min-width: 240px;
  max-width: 240px;
  width: auto;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: 2px;
  padding: 0 10px;
  display: none;
  &Active {
    display: flex;
    flex-direction: column;
  }

}