.toolbar {
  box-sizing: border-box;
  border-left: 2px solid var(--border-lines-color);
  min-width: 240px;
  max-width: 240px;
  width: auto;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: 2px;
  padding: 0 10px;
  display: none;
  &Active {
    display: flex;
    flex-direction: column;
  }
}

.toolbarBtn {
  position: fixed;
  right: -22px;
  top: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: .6;
  background-color: #ffffff16;
  border: none;
  cursor: pointer;
  transition: 100ms linear; 
  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
  img {
    position: relative;
    top: 1px;
    left: 0px;
    overflow: hidden;
  }
  svg {
    fill: var(--main-text-color);
    position: relative;
    top: 2px;
    right: 8px;
  }
}