.head {
  min-height: 48px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .logotype{
    img {
      height: 28px;
    }
  }
  .btnToogleSidebar {
    border: none;
    background: none;
    margin: 0;
    padding: 0;

    img {
      height: 24px;
      width: 24px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}