.root {
  background-color: #080810;
  min-width: 100%;
  display: flex;
  min-height: 100vh;
}

aside {
  background-color: #ffffff04;
  width: 280px;
}

// * {
//   &::-webkit-scrollbar {
//     width: 2px; 
//     height: 7px;
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: #949494;
//   }

//   &::-webkit-scrollbar-track {
//     background-color: #666666;
//   }
// }

*::-webkit-scrollbar {
  display: none;
}
 
/* Скрываем scrollbar для IE, Edge и Firefox */
* {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
}