.toolbar {
  box-sizing: border-box;
  border-left: 2px solid var(--border-lines-color);
  min-width: 240px;
  max-width: 280px;
  width: 10%;
  max-height: 100vh;
  overflow-y: scroll;

  scrollbar-width: 2px;

}